<% if params[:tag] %>
  <p>Results for <strong>#<%= params[:tag] %></strong></p>
<% end %>

<div class="row">
  <div class="span12">
	<% if @questions.any? %>
	  <h3>Questions (<%= @questions.count %>)</h3>
	  <ol class="questions">
	    <%= render @questions, user: true %>
	  </ol>
	  <%= will_paginate @questions %>
	<% end %>
  </div>
</div>