<% # Usage: render @answers, bool title, bool content, bool user %>
<% # E.g. : render @answers, title: true                         %>

<li>
  <span class="content">
  	<%= link_to answer.question.title, answer.question if defined? title %> 
  	<%= simple_format(answer.content) if defined? content %>
  </span>
  <span class="timestamp">
    <%= link_to answer.user.name, answer.user if defined? user %>
    answered <%= time_ago_in_words(answer.created_at) %> ago.
  </span>
</li>